
.index_header {
    display: inline-block;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    
    color : dimgray;  
}

#img_profile {
    border-radius: 50%;
    float: right;
    width: 80px;
}

#img_logo {
    width: 80px;
    padding-right: 2rem;
}
