<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="controller.js"></script>
    <script src="header.js" type="text/javascript" defer></script>

</head>

<body>

    <!-- Header & Navbar -->
    <header-component></header-component>

    <main>


        <div class="registerButtons">
            <button onclick="document.location='/registerParent'">Cadastrar Responsável</button>
            <button onclick="document.location='none'">Consultar Responsável</button>
        </div>
    </main>
</body>

</html>