<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../controller/controller.js"></script>
</head>

<body>

    <!-- Header & Navbar -->
    <header-component></header-component>

    <main>

        <!-- Form -->
        <div class="form">
            <form>
                <span>
                    <h1>Cadastro de responsável:</h1>
                </span>

                <fieldset class="responsible">
                    <legend>Cadastrar responsável</legend>
                    <div class="row">
                        <div class="col-25">
                            <label for="reg_name_input">Nome do responsável:</label>
                        </div>

                        <div class="col-75">
                            <input type=text id="reg_name_input" placeholder="Digite o nome do responsável">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="reg_doc_input">Documento:</label>
                        </div>

                        <div class="col-75">
                            <input type=text id="reg_doc_input" placeholder="Digite o CPF do responsável">
                        </div>
                    </div>
                </fieldset>

                <!-- Cadastrar aluno -->

                <!-- Submit Button -->
                <input type="submit" value="Salvar" id="submit_button">

            </form>

        </div>
    </main>
</body>

</html>