<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="controller.js"></script>
    <script src="header.js" type="text/javascript" defer></script>

</head>

<body>

    <!-- Header & Navbar -->
    <header-component></header-component>

    <main>
        <!-- Form -->
        <div class="form">
            <form>
                <span>
                    <h1>Cadastro do Aluno:</h1>
                </span>

        <fieldset class="dependent">
            <legend>Cadastrar aluno</legend>

            <div class="row">
                <div class="col-25">
                    <label for="reg_doc_input">Nome do aluno:</label>
                </div>

                <div class="col-75">
                    <input type=text id="reg_doc_input" placeholder="Digite o nome do aluno">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="reg_doc_input">Documendo do aluno:</label>
                </div>

                <div class="col-75">
                    <input type=text id="reg_doc_input" placeholder="Digite o CPF do aluno">
                </div>
            </div>

            <button id="add_dependent_btn" onclick="addDependent()">Adicionar</button>

        </fieldset>

        <!-- Submit Button -->
        <input type="submit" value="Salvar" id="submit_button">

        </form>
        </div>

        <script src="./header.js" type="text/javascript" defer></script>
    </main>
</body>

</html>