<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="controller.js" defer></script>
    <script src="header.js" type="text/javascript"></script>

</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Retirada</a>
        <a href="/student">Aluno</a>
        <a href="/parent">Responsável</a>
        <a href="#none">Merenda</a>
        <a href="javascript:void(0);" id="navBtn" class="icon">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- Header & Navbar -->
    <header-component></header-component>

    <main>
        <div class="registerButtons">
            <button onclick="document.location='/registerChild'">Cadastrar Aluno</button>
            <button onclick="document.location='/consultChild'">Consultar Aluno</button>
        </div>
    </main>
</body>

</html>